* {
  box-sizing: border-box;
}

html, body {
  background: $off-white;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s;

  &:hover {
    transition: 0.3s;
  }
}

button {
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    transition: 0.3s;
  }
}

button:disabled {
  cursor: default;
}