.carousel { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: left;
  min-height: 70vh;
  padding-bottom: 3em;

  ul {
    list-style-type: none;
    padding: 0;
    max-width: 768px;
  }

  li {    
    div {
      display: flex;
      align-items: center;
    }
    img {
      width: 5em;
      margin-right: 1em;
    }
    span {
      font-size: 2em;
    }
  }
}

.review-slide {
  padding: 0 1em;
  animation: reviewFade 8s; 
}

@keyframes reviewFade { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  100% {
    opacity: 0;
    animation-timing-function: ease-out;
  }
}

.hide-slide {
  display: none;
}

.review-text {
  font-size: 2em;
  font-weight: 300;
}

.review-author {
  font-size: 1.5em;
  font-weight: 700;
  margin: 0;
}

.review-company {
  font-size: 1.5em;
  margin: 0;
  font-weight: 300;
  color: lighten($off-black, 30%);
}

.carousel-toggle {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;

  li {
    margin: 0 1em;
  }
}

.carousel-toggle--button {
  width: 1em;
  height: 1em;
  background: transparent;
  border: 1px solid $off-black;
  border-radius: 100%;

  &:hover {
    background: lighten($secondary, 20%);
    border: 1px solid lighten($secondary, 20%);
  }
}

.carousel-toggle--button__active {
  width: 1em;
  height: 1em;
  background: $secondary;
  border: 1px solid $secondary;
  border-radius: 100%;
}