.error-page {
  width: 100vw;
  height: 39vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;

  a {
    text-decoration: none;
    color: $secondary;

    &:hover {
      text-decoration: underline;
    }
  }
}