.intro__wrapper {
  border: 2px solid orange;
  padding: 60px 1em 1em 1em;
  height: 100vh;
  background: linear-gradient(115deg,$light-blue,$dark-blue 40%, $light-purple);
}

.intro__banner {
  border: 2px solid green;
}