.footer__divider {
  border: 3px solid pink;
  margin-top: 10vh;
}

/* ===============================
======= POINTED BG STYLES ========
=============================== */
.point-bg-transparent--invert {
  height: 200px;
  width: 100%;
  transform: translateY(24vh);
  background: $off-white;
  background: transparent;

  &:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: $off-white;
    z-index: -1;
    transform: rotate(-10deg);
    left: 34%;
    top: -0;
    transform-origin: 0 0;
  }
  
  &:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: $off-white;
    z-index: -1;
    transform: rotate(10deg);
    right: 60%;
    top: 0;
    transform-origin: 100% 0;
  }
}

.point-bg-white--invert {
  height: 50px;
  width: 100%;
  transform: translateY(23vh);
  background: transparent;
  mix-blend-mode: soft-light;

  &:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(white, .3);
    z-index: -1;
    transform: rotate(-12deg);
    left: 36%;
    top: -0;
    transform-origin: 0 0;
  }
  
  &:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(white, .3);
    z-index: -1;
    transform: rotate(12deg);
    right: 62%;
    top: 0;
    transform-origin: 100% 0;
  }
}

.footer-test {
  border: 5px solid red;
  padding-top: 50vh;
  background: linear-gradient(115deg, $light-blue,$dark-blue 40%, $light-purple);
}