* {
  box-sizing: border-box;
}

html, body {
  background: white;
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
  font-size: $m-size;
}

.logo {
  font-size: 2em;
  text-decoration: none;
}

button {
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    transition: 0.3s;
  }
}

button:disabled {
  cursor: default;
}