* {
  box-sizing: border-box;
}

html, body {
  background: white;
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
  font-size: $m-size;
}

.logo {
  font-size: 2em;
  text-decoration: none;
}

button {
  cursor: pointer;
  transition: 0.3s;
  outline: none;

  &:hover {
    transition: 0.3s;
  }
}

.cta-button {
  border: 2px solid $off-black;
  outline: none;
  padding: .8em 1.5em;
}

.submit-button {
  width: 250px;
  text-transform: uppercase;

  &:hover {
    background: $off-black;
    color: white;
  }
}

button:disabled {
  cursor: default;
}