// colors
$off-white: #f0f0f0;
$off-black: #1d1d1d;
$accent: #ff816b;
$secondary: #6bb8ff;

// spacing
$s-size: 0.8em;
$m-size: 1em;
$l-size: 2em;
$xl-size: 3em;
$desktop: 1100px;
$tablet: 800px;
$mobile: 600px;

// fonts
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Mrs+Sheppards');

