.navbar {
  border-bottom: 1px solid $accent;
  height: 5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}

.navbar--links {
  display: none;
}

.navbar--menu {
  display: flex;
  color: $off-black;
  cursor: pointer;
  font-size: 2em;
  transition: 0.3s;

  &:hover {
    color: $accent;
    transition: 0.3s;
  }
}

@media (min-width: $tablet) {
  .navbar--menu {
    display: none;
  }

  .navbar--links {
    display: flex;
    align-items: center;

    a {
      padding: 0 1em;
      text-transform: uppercase;
      text-decoration: none;
      color: $off-black;
      transition: 0.3s;
  
      &:hover {
        color: lighten($off-black, 40%);
        transition: 0.3s;
      }
    }
  
    a:last-of-type {
      border: 2px solid $off-black;
      padding: .8em 1.5em;
  
      &:hover {
        color: white;
        border: 2px solid $accent;
        background: $accent;
      }
    }
  }
}